<!DOCTYPE html>
<html>
    <head>
        <%- include("./partials/head.ejs", { title: `${fly.name}` })%>
        <link rel="stylesheet" href="/styles/fly-detail.css">
    </head>
    <body>
        <%- include("./partials/nav.ejs") %>

        <h2 class="page-title"><%= fly.name %></h2>
        <div class="detail-div">
            <% if (fly.photo.length > 0) { %>
            <img id="detail-img" src="<%= fly.photo %>">
            <% } else { %>
            <img id="detail-img" src="/assets/no-photo.jpeg">
            <% } %>
            <div class="d-card-info">
                
                <div id="ingredients-div">
                    <% if (fly.ingredients.length > 0) { %>
                    <p><b>Ingredients: </b></p>
                    <p><%= fly.ingredients %></p>
                    <% } %>
                </div>

                <table>
                    <tr>
                        <th>Size:</th>
                        <td><%= fly.hookSize %></td>
                    </tr>
                    <tr>
                        <th>Type:</th>
                        <td><%= fly.type %></td>
                    </tr>
                    <% if (fly.imitating.length > 0) { %>
                    <tr>
                        <th>Imitating: </th>
                        <td><%= fly.imitating %></td>
                    </tr>
                    <% } %>
                    <% if (fly.lifeStage !== 'N/A') { %>
                    <tr>
                        <th>Lifestage:</th>
                        <td><%= fly.lifeStage %></td>
                    </tr>
                    <% } %>
                    <tr>
                        <th>Quantity:</th>
                        <td><%= fly.quantity %></td>
                    </tr>
                    <tr>
                        <th>Update qty:</th>
                        <td>
                            <!-- change qty buttons -->
                            <div id="qty-btns">
                                <form method="POST" id="inc" action="/flies/<%= fly._id %>/increment-qty?_method=PUT">
                                    <button class="btn" type="submit" value="Add Flies"> + </button>
                                </form>
                                <form method="POST" action="/flies/<%= fly._id %>/decrement-qty?_method=PUT">
                                    <button class="btn" type="submit" value="Add Flies"> - </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                </table>              
                
                <section class="actions">
    
                    <!-- update fly -->
                    <button>
                        <a class="btn" href="/flies/<%= fly._id %>/edit">Update Fly</a>
                    </button>
                    
                    <!-- add a note -->
                    <button>
                        <a class="btn" href="/notes/new/<%= fly._id %>">Add Note</a>
                    </button>

                    <!-- delete button -->
                    <form method="POST" id="dec" action="/flies/<%= fly._id %>/?_method=DELETE">
                        <button class="btn" type="submit" value="delete flies">DELETE COLLECTION</button>
                    </form>
    
                </section>

                <section class="notes">
                    <h4>Notes on <%= fly.name %>:</h4>
                    <div class="notes-box">
                        <% if ( notes.length === 0) { %>
                        <p class="no-notes">No notes for <%= fly.name %> yet.</p>
                        <% } else { %>
                        <% for (let note of notes) {%>
                        <div class="single-review">
                            <p><b>Date fished:</b> <% const date = new Date(note.dateFished); %> <%= date.toDateString() %> </p>
                            <p><b>Air temp:</b> <%= note.airTemp %></p>
                            <p><b>Water temp:</b> <%= note.wtaerTemp %></p>
                            <p><b>Conditions:</b> <%= note.conditions %></p>
                            <div>
                                <p> <%= note.note %></p>
                            </div>
                        </div>
                        <% } } %>
                    </div>
                </section>

            </div>


    </body>
</html>