<!DOCTYPE html>
<html>
    <head>
        <%- include("./partials/head.ejs", { title: 'Fly Bin Home'})%>
        <link rel="stylesheet" href="/styles/home.css">
    </head>
    <body>
        <%- include("./partials/nav.ejs")%>
        <h2 class="page-title">Your Fly Bin</h2>
        <section class="flies-list">
            <% for (let fly of flies) { %>
            <figure class="fly-card">
                <% if (fly.photo.length > 0) { %>
                <img src="<%= fly.photo %>">
                <% } else { %>
                <img src="/assets/no-photo.jpeg">
                <% } %>
                
                <figcaption>
                    <h3><%= fly.name %></h3>
                    <div class="nums">
                        <a><b>Quantity:</b> <%= fly.quantity %></a>
                        <a><b>Size:</b> <%= fly.hookSize %></a>
                    </div>

                    <button id="details" class="btn">
                        <a class="details" href="/flies/<%= fly._id %>">see details</a>       
                    </button>
                </figcaption>
            </figure>
            <% } %>
        </section>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>